<div *ngIf="products && products.length > 0" class="carousel-container">
    <img *ngFor="let product of products; let i = index" [src]="product.img" [alt]="product.alt"
        [ngClass]="{'image-active': currentSlideIndex === i}" class="slide">

    <div *ngIf="showDot" class="carousel-dot-container">
        <span *ngFor="let dot of products; let i = index" class="dot"
            [ngClass]="{'active': currentSlideIndex == i}"
            (click)="goToSlide(i)">
        </span>
    </div>

    <button class="arrow leftArrow" (click)="goToPreviousSlide()">&lt;</button>
    <button class="arrow rightArrow" (click)="goToNextSlide()">&gt;</button>
</div>
