.card {
    max-width: 500px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.btn {
    margin: 10px;
    font-size: 20px;
    width: 150px;
    height: 40px;
    text-align: center;

    &.buy-now {
        border: black 2px solid;
        background-color: white;

        &:hover {
            background-color: lightgray;
        }

        &:active {
            background-color: gray;
        }
    }

    &.add-cart {
        background-color: black;
        color: white;
        border: none;

        &:hover {
            background-color: gray;
        }

        &:active {
            background-color: darkgray;
        }
    }
}

.card img{
    width: 380px;
    height: 300px;
}

.card hr{
    width: 200px;
}

.subtext{
    font-size: 20px;
}
