<mat-toolbar class="toolbar">
  <span class="logo">My App</span>
  <span class="gap">
    <a href="#">
      Trang chủ
    </a>
  </span>
  <span class="gap">
    <a href="#">
      Sản phẩm
    </a>
  </span>
  <span class="gap">
    <a href="#">
      Về chúng tôi
    </a>
  </span>
  <span class="gap">
    <a href="#">
      Liên hệ
    </a>
  </span>
  <span class="spacer"></span>

  <form class="form">
      <input matInput placeholder="Search">
    <button>
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>

  <button mat-icon-button class="button" >
    <i class="fa-solid fa-cart-shopping"></i>
  </button>
</mat-toolbar>

<div class="carousel">
  <div class="slide" *ngFor="let image of images; let i = index" [class.active]="i === activeSlideIndex">
    <img [src]="image">
    {{ i === activeSlideIndex }}
  </div>
  <button class="prev" (click)="movePrev()">&lt;</button>
  <button class="next" (click)="moveNext()">&gt;</button>
</div>

<div *ngFor="let image_item of images">
  <img [src]="image_item">
</div>

