<mat-toolbar class="toolbar">
  <button mat-icon-button>
    <i class="fa-solid fa-bars"></i>
  </button>
  <span>My App</span>
  <button mat-icon-button>
    Trang chủ
  </button>
  <button mat-icon-button>
    Sản phẩm
  </button>
  <button mat-icon-button>
    Về chúng tôi
  </button>
  <button mat-icon-button>
    Liên hệ
  </button>
  <span class="spacer"></span>
  <button mat-icon-button>
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
  <button mat-icon-button>
    <i class="fa-solid fa-share"></i>
  </button>
</mat-toolbar>

<p>main-page works!</p>

