.spacer {
  flex: 1 1 auto;
}

.toolbar{
  display: flex;
}

.gap {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.logo {
  margin: 10px;
  padding: 20px;
  font-size: 35px;
}

.form {
  margin: 10px;
  align-self: center;
}

.form input {
  font-size: 20px;
  height: 40px;
  width: 200px;
}

.form button {
  font-size: 20px;
  height: 46px;
  width: 50px;
  padding: 10px;
}

.button {
  margin: 10px;
  padding: 20px !important;
}

.container {
  display: flex;
  justify-content: space-around;
  // align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 800px;
}

.text-container{
  margin-top: 220px;
}

.btn-buy-now{
  margin: 10px;
  font-size: 20px;
  width: 200px;
  height: 40px;
  border: black 2px solid;
  text-align: center;
  background-color: white;

  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }

  &:active {
    background-color: gray;
  }
}

.btn-add-cart{
  margin: 10px;
  font-size: 20px;
  width: 200px;
  height: 40px;
  text-align: center;
  background-color: black;
  color: white;
  border: none;

  &:hover {
    background-color: gray;
    cursor: pointer;
  }

  &:active {
    background-color: darkgray;
  }
}

//product page

.product-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  align-items: center;
  margin-top: 200px;
  margin-left: 90px;
  row-gap: 50px;
  column-gap: 50px;
}

@media screen and (max-width: 1300px) {
  .product-container{
      grid-template-columns: repeat(2, 1fr);
  }
}



