<mat-toolbar class="toolbar">
  <span class="logo">My App</span>
  <span class="gap">
    <a href="#">
      Trang chủ
    </a>
  </span>
  <span class="gap">
    <a href="#">
      Sản phẩm
    </a>
  </span>
  <span class="gap">
    <a href="#">
      Về chúng tôi
    </a>
  </span>
  <span class="gap">
    <a href="#">
      Liên hệ
    </a>
  </span>
  <span class="spacer"></span>

  <form class="form">
      <input matInput placeholder="Search">
    <button>
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>

  <button mat-icon-button class="button" >
    <i class="fa-solid fa-cart-shopping"></i>
  </button>
</mat-toolbar>


<div class="container">
  <div>
    <p>Hello!</p>
  </div>
  <app-image-slider [images]="images"></app-image-slider>
</div>



