.cart-container{
    // display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: 50x;
    margin-right: 50px;
}

//make css btn-container is on the right and bottom of the screen 
.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 50px;
    margin-right: 50px;
}


.btn {
    margin: 10px;
    font-size: 20px;
    width: 150px;
    height: 40px;
    text-align: center;
    border: none;
    &.buy {
        border: black 2px solid;
        background-color: white;

        &:hover {
            background-color: lightgray;
            cursor: pointer;
        }

        &:active {
            background-color: gray;
        }
    }

    &.delete {
        background-color: black;
        color: white;
        border: none;

        &:hover {
            background-color: gray;
            cursor: pointer;
        }

        &:active {
            background-color: darkgray;
        }
        &[disabled] {
            opacity: 0.5;
        }
    }
}

.no-hover {
    &:hover {
      background-color: white;
      color: black;
      cursor: default;
    }
  
    &:active {
      background-color: white;
      color: black;
    }

    pointer-events: none;
}

.fail-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.back-button {
    margin: 10px;
    font-size: 20px;
    width: 200px;
    height: 40px;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    &:hover {
        background-color: gray;
        cursor: pointer;
    }

    &:active {
        background-color: darkgray;
    }
}