<app-toolbar [isSimpleToolbar]="true" [title]="'Giỏ Hàng'"></app-toolbar>

<div class="cart-container" *ngIf="cartProducts.length > 0">
    <app-cart-card *ngFor="let product of cartProducts" 
        [cartProduct]="product"
        (productSelected)="onProductSelected($event.product, $event.selected, $event.quantity)"
        ></app-cart-card>
</div> 
<div class="btn-container" *ngIf="cartProducts.length > 0">
    <button 
        class="btn buy" 
        [disabled]="!selectedProducts.length" 
        (click)="goToPurchasePage()" 
        [disabled]="!selectedProducts.length" 
        [ngClass]="{'no-hover': !selectedProducts.length}">
        Mua Ngay
    </button> 
    <button 
        class="btn delete" 
        [disabled]="!selectedProducts.length" 
        (click)="removeSelectedFromCart()" 
        [disabled]="!selectedProducts.length" 
        [ngClass]="{'no-hover': !selectedProducts.length}">
        Xoá
    </button> 
</div>

<div class="fail-container" *ngIf="cartProducts.length == 0">
    <img src="../../../assets/fail_icon.png">
    <h1>Tiếc quá !!!Bạn đang không có sản phẩm nào trong giỏ hàng, hãy mua sắm đi nào!!!</h1>
    <button class="back-button" (click)="goBack()">Quay lại trang chủ</button>
</div>