.spacer {
  flex: 1 1 auto;
}
  
.toolbar{
  display: flex;
}

.gap {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.logo {
  margin: 10px;
}

.logo img {
  height: 80px;
  width: 80px;
}

.form {
  margin: 10px;
  align-self: center;
}

.form input {
  font-size: 20px;
  height: 40px;
  width: 200px;
  border: 2px solid black;
}

.form button {
  font-size: 20px;
  height: 46px;
  width: 70px;
  padding: 10px;
  color: white;
  background-color: black;
  border: none;
}

.button {
  margin: 10px;
  padding: 20px !important;
}

.button-title{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: medium;
  background-color: white;
  border-color: white;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: white;
  margin-left: 10px;
  color: black;
  border: none;
  font-size: medium;
  padding: 0;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  margin-top: 1px;
  left: -16px;
  top: 20px;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-menu {display: block;}

.dropdown:hover .dropdown-btn {background-color: #aaaaaa;}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.vl {
  border-left: 1px solid black;
  height: 65px;
}