<mat-toolbar class="toolbar">
    <span class="logo">
      <img src="../../../assets/logo.png" alt="logo">
    </span>
    <span class="gap">
      <a href="#">
        Trang chủ
      </a>
    </span>
    <span class="gap">
      <a href="/product">
        Sản phẩm
      </a>
    </span>
    <span class="gap">
      <a href="#">
        Về chúng tôi
      </a>
    </span>
    <span class="gap">
      <a href="#">
        Liên hệ
      </a>
    </span>
    <span class="spacer"></span>
  
    <form class="form">
        <input matInput placeholder="Search">
      <button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  
    <button mat-icon-button class="button" routerLink="/cart">
      <i class="fa-solid fa-cart-shopping"></i>
    </button>
  </mat-toolbar>
