<mat-toolbar class="toolbar">
    <span class="logo">
      <img src="../../../assets/logo.png" alt="logo" routerLink="/">
    </span>
    <span>
      <div class="vl"></div>
    </span>
    <span class="title" *ngIf="isSimpleToolbar">
      {{ title }}
    </span>
    <span *ngIf="!isSimpleToolbar" class="gap">
      <button class="button-title" routerLink="/">
        Trang chủ
      </button>
    </span>
    <span *ngIf="!isSimpleToolbar" class="gap">
      <div class="dropdown-btn">
        <button type="menu" class="button-title" routerLink="/product">
          Sản phẩm
        </button>
        <div class="dropdown-menu">
          <a href="/product">TV</a>
          <a href="#">Tủ Lạnh</a>
          <a href="#">Máy Giặt</a>
        </div>
      </div>
    </span>
    <span *ngIf="!isSimpleToolbar" class="gap">
      <button class="button-title" routerLink="#">
        Về chúng tôi
      </button>
    </span>
    <span *ngIf="!isSimpleToolbar" class="gap">
      <button class="button-title" routerLink="#">
        Liên hệ
      </button>
    </span>
    <span class="spacer"></span>
  
    <form class="form">
        <input matInput placeholder="Search">
      <button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  
    <button *ngIf="!isSimpleToolbar" mat-icon-button class="button" routerLink="/cart">
      <i class="fa-solid fa-cart-shopping"></i>
    </button>
  </mat-toolbar>
